		body {
		padding-top: 60px; 
		background: #555 url('../img/carbon_fibre.png') repeat;	
		}
		
		.list_head {
			margin: -20px -20px 20px -20px;
			padding: 5px;
			background: #ddd;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			font-size: 20px;
			line-height: 30px;
			font-family: 'Rancho', cursive;
			text-align: center;
		}
		
		.list > .close {
			line-height: 0;
		}
		
		.card_item {
			margin-bottom: 10px;
			border-bottom: 1px #ddd dotted;
		}
		
		.card_box {
			position : relative;
  width    : auto;
  height   : 200px;
  overflow-y: auto;
  overflow-x : hidden;
  margin: -20px -20px -19px -20px;
  padding: 20px;
		}
		
		.well {
			background-color: #eee;
		}
		
		.navbar .brand {
			float: none;
			font-family: 'Rancho', cursive;
			text-align: center;
		}
		
/* MAC like Scroll bar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 

::-webkit-scrollbar-track {
   background: rgba(0,0,0,0.25);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;   
     
    background: #f5f5f6 url('../img/trans.png') repeat;
    background: rgba(0,0,0,0.5);
    
}
::-webkit-scrollbar-thumb:hover {
    background: #444 url('../img/trans.png') repeat;
    background: rgba(0,0,0,0.75);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.4); 
}
		